[user]
  email = joebew42@gmail.com
  name = Joe Bew
[alias]
  s = status --short
  d = diff
  dc = diff --cached
  a = add .
  cm = commit -m
  pr = pull --rebase
[core]
  editor = vim
[init]
	defaultBranch = main
